.circle {
  position: absolute;
}

.white {
  background-color: white;
}

.green {
  background-color: #4bffa5;
}

.react-circle-1 {
  animation: moveReactCircle1 2.5s infinite alternate;
}

.react-circle-2 {
  animation: moveReactCircle2 2.5s infinite alternate;
}

.react-circle-3 {
  animation: moveReactCircle3 2.5s infinite alternate;
}

.react-circle-4 {
  animation: moveReactCircle4 2.5s infinite alternate;
}

@keyframes moveReactCircle1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(60px, 60px);
  }
}

@keyframes moveReactCircle2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(120px, 0);
  }
}

@keyframes moveReactCircle3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(180px, 60px);
  }
}

@keyframes moveReactCircle4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(240px, 0);
  }
}
